# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# app
src/cookies.json

# data
/src/*.txt
